/* Import core */

@import url("../../styles/core.css");


/* Containers */

.container {
	width: 100%;
	margin: 0 auto;
}


/* Navigation */

nav {
	float: left;
	width: 100%;
	border-bottom: 1px solid #efefef;
	padding: 10px 0;
}

@media (prefers-color-scheme: dark) {
	nav {
		border-bottom: 1px solid #666;
	}
}

nav img {
	float: left;
	width: 32px;
	height: 32px;
	margin: 0 10px;
}

nav h1 {
	float: left;
	margin: 0;
	font-weight: normal;
	font-sizE: 26px;
}


/* Layout */

section {
	float: left;
	width: 100%;
	margin: 20px 0 0 0;
}

table {
	float: left;
	width: 100%;
	border-collapse: collapse;
	font-size: 13px;
}

table th,
table td {
	padding: 8px 15px;
	text-align: left;
}

table th {
	border-bottom: 2px solid #efefef;
}

@media (prefers-color-scheme: dark) {
	table th {
		border-bottom: 2px solid #666;
	}
}

table td {
	border-bottom: 1px solid #efefef;
}

@media (prefers-color-scheme: dark) {
	table td {
		border-bottom: 1px solid #666;
	}
}

table td.empty {
	padding: 20px 0;
	border-bottom: none;
	color: #ccc;
	text-align: center;
	font-size: 18px;
}

table tr.red td {
	color: #d90000;
	background-color: rgba(255, 0, 0, 0.1);
}