/* Import core */

@import url("core.css");
@import url("dialog.css");


/* Layout */

#wrapper {
	width: 600px;
	margin: 0 auto;
	font-size: 18px;
	padding: 20px 0 0 0;
}

@media  screen and (max-width: 414px) {
	#wrapper {	
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: auto;
		padding: 20px 20px 0 20px;
	}			
}

#textbox {
	position: fixed;
	width: 100%;
	height: 70px;
	padding: 15px 20px 0 20px;
	margin: 0 0 0 -20px;
	bottom: 0;
	width: 600px;
	background: #fff;
	box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}

@media  screen and (max-width: 414px) {
	#textbox {	
		display: block;
		left: 0;
		right: 0;
		bottom: 0;
		width: auto;
		overflow: hidden;
		margin: 0;
		padding: 15px 20px 0 20px;
	}			
}

@media (prefers-color-scheme: dark) {
	#textbox {	
		background: #333;
		box-shadow: 0 -1px 5px rgba(0,0,0,0.2);
	}
}

#textbox .input {
	margin: 0 0 1px 0;
	border: none;
	font-size: 18px;
	width: 100%;
	padding: 5px 0;
	border-bottom: 1px solid #efefef;
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;
}

@media (prefers-color-scheme: dark) {
	#textbox .input {	
		border-bottom: 1px solid #666;
		background: #333;
		color: #fff;
	}
	
	#textbox .input::placeholder {
		color: #666;
	}
}

#textbox .input:focus {
	margin: 0;
	border-bottom: 2px solid #00B6FF;
	animation: pulse 3s infinite;
}

@keyframes pulse {
	  0%   { border-bottom: 2px solid #00B6FF; }
	  50%  { border-bottom: 2px solid #008DD3; }
	  100% { border-bottom: 2px solid #00B6FF; }
}

#output {
	float: left;
	overflow: hidden;
	padding: 50px 0 100px 0;
	width: 100%;
}

@media  screen and (max-width: 414px) {
	#output {	
		
	}			
}

#output.sticky {
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 0;
	width: auto;
}

#output .bubble ,
#convoSample .bubble {
	position: relative;
	float: left;
	background: #f3f2f0;
	clear: both;
	padding: 10px 15px;
	margin: 5px 0;
	max-width: 390px;
}

@media (prefers-color-scheme: dark) {
	#output .bubble {
		background: #666;
		color: #fff;
	}
}

#output .bubble.input,
#convoSample .bubble.input {
	float: right;
	background: #00B6FF;
	color: #ffffff;
	width: aut
	text-align: right;
}

#output .bubble.output:hover .feedback {
	position: absolute;
	top: 0;
	right: -30px;
	display: block;
	content: ' ';
	width: 41px;
	height: 41px;
	cursor: pointer;
	background-color: transparent;
	background-image: url('../images/icon_feedback.svg');
	background-repeat: no-repeat;
	background-position: right 12px;
	background-size: 23px 21px;
}

#output .bubble.loading::after {
	position: absolute;
	top: 10px;
	right: -30px;
	display: block;
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 100%;
	border: 4px solid #00a3ff;	
	animation: loadingPulse 1.2s infinite;
}

@keyframes loadingPulse {
	  0%   { border-color: #00a3ff; }
	  50%  { border-color: #80d1ff; }
	  100% { border-color: #00a3ff; }
}

#output p.wikiPreview {
	font-size: 90%;
}

#output img.wikiThumb {
	float: left;
	padding: 0 15px 15px 0;
	width: 100px;
}

#output ul.wikiDisambig {
	margin: 0;
	padding: 10px;
	list-style-type: none;
}

#output ul.wikiDisambig li {
	padding: 10px 0;
	list-style-position: inside;
	font-size: 90%;
	border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

#output ul.wikiDisambig li:last-of-type {
	border-bottom: none !important;
}


/* Nav */

nav {
	display: block;
	position: fixed;
	float: left;
	z-index: 1000;
	width: 100%;
	height: 58px;
}

nav .logo {
	margin: 0 auto;
	width: 110px;
	height: 45px;
	background-image: url('../images/logo-una.svg');
	background-size: 110px 45px;
	background-repeat: no-repeat;
	background-position: center bottom;
}

@media (prefers-color-scheme: dark) {
	nav .logo {
		background-image: url('../images/logo-una_dark.svg');
	}
}

nav .line {
	float: left;
	width: calc(50% - 55px);
	height: 38px;
	border-bottom: 2px solid #000;
	background: #fff;
}

@media (prefers-color-scheme: dark) {
	nav .line {		
		border-bottom: 2px solid #fff;
		background: #333;
	}
}

nav .line.right {
	float: right;
}

nav .line a:hover {
	border: none;
}

nav .line .help {
	float: left;
	width: 22px;
	height: 26px;
	margin: 14px 0 0 20px;
	background-image: url('../images/icon-help.svg');
}

@media (prefers-color-scheme: dark) {
	nav .line .help {			
		background-image: url('../images/icon-help_dark.svg');
	}
}

nav .line .speech {
	float: right;
	width: 140px;
	height: 30px;
	margin: 12px 20px 0 0;
	background-image: url('../images/icon-speech-on.svg');
	background-repeat: no-repeat;
	background-position: right;
}

@media (prefers-color-scheme: dark) {
	nav .line .speech {			
		background-image: url('../images/icon-speech-on_dark.svg');
	}
}

@keyframes fadeout {
    0%   {opacity: 1; display: block;}
    100% {opacity: 0; display: none;}
}

nav .line .speech span.fadeout {
	padding: 6px 0;
	font-size: 13px;
	color: #333;
	animation-name: fadeout;
	animation-duration: 1.5s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

@media (prefers-color-scheme: dark) {
	nav .line .speech span.fadeout {
		color: #fff;
	}
}

nav .line .speech.off {
	background-image: url('../images/icon-speech-off.svg');
}

@media (prefers-color-scheme: dark) {
	nav .line .speech.off {	
		background-image: url('../images/icon-speech-off_dark.svg');
	}
}


/* Data cards */

.card {
	float: left;
	width: 370px;
	margin: 10px 0 5px 0;
	padding: 10px 10px 5px 10px;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

@media  screen and (max-width: 414px) {
	.card {			
		width: 285px;
	}			
}

@media (prefers-color-scheme: dark) {
	.card {	
		background: #333;
	}
}

.card .row {
	float: left;
	width: 100%;
	border-top: 1px solid rgba(0,0,0,0.1);
}


/* Road conditions */

.card.roadconditions {
	width: 100%;
	padding: 0;
}

.card.roadconditions .roadnumber {
	float: left;
	min-width: 30px;
	padding: 2px 5px;
	border-radius: 4px;
	border: 3px solid #333;
	background-color: #fdc71d;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.card.roadconditions .road {
	float: left;
	font-weight: bold;
	padding: 10px;
}

.card.roadconditions .road .highland {
	color: #fff;
	background-color: #333;
	padding: 2px 4px;
	border-radius: 2px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
}

.card.roadconditions .condition {
	float: left;
	width: 100%;
	padding: 10px 10px;
	box-sizing: border-box;
}


/* Weather */

.card.weather .row {
	float: left;
	width: 100%;
	border-top: 1px solid rgba(0,0,0,0.1);
}

.card.weather .row.now {
	border: none;
}

.card.weather .row.now .place {
	float: left;
	font-size: 19px;
	padding: 10px 10px 0 10px;
	font-weight: bold;
}

.card.weather .row.now .temp {
	float: right;
	text-align: right;
	font-size: 33px;
	line-height: 33px;
	width: 50px;
	padding: 0 5px 9px 0;
}

.card.weather .row.today {
	padding: 10px 0 2px 3px;
}

.card.weather .row.today .hour {
	float: left;
	width: 41px;
	text-align: center;
	font-size: 15px;
	padding: 0 10px;
}

@media  screen and (max-width: 414px) {
	.card.weather .row.today .hour {
		width: 27px;
	}
}


.card.weather .row.today .hour .time {
	float: left;
	margin: 0 0 10px 0;
	width: 100%;
	text-align: center;
}

.card.weather .row.today .hour .symbol {
	float: left;
	margin: 5px 0 0 0;
}

.card.weather .row.today .hour .symbol {
	float: left;
	width: 100%;
	text-align: center;
	padding: 6px 0;
}

.card.weather .row .day {
	float: left;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 15px 20px;
	width: 30px;
}

.card.weather .row .symbol {
	float: left;
	margin: 7px 10px 7px 40px;
}

@media  screen and (max-width: 414px) {
	.card.weather .row .symbol {
		margin: 7px 10px 7px 30px;
	}
}		

.card.weather .symbol {	
	margin: 0 auto;
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center;
}

@media  screen and (max-width: 414px) {
	.card.weather .symbol {	
		width: 24px;
		height: 24px;
		background-size: 24px 24px;
	}
}

.card.weather .symbol.clear {
	background-image: url('../images/weather_clear.svg');
}

.card.weather .symbol.clear.night {
	background-image: url('../images/weather_clearnight.svg');
}

.card.weather .symbol.partly {
	background-image: url('../images/weather_partly.svg');
}

.card.weather .symbol.cloudy {
	background-image: url('../images/weather_cloudy.svg');
}

.card.weather .symbol.overcast {
	background-image: url('../images/weather_overcast.svg');
}

.card.weather .symbol.lightrain {
	background-image: url('../images/weather_lightrain.svg');
}

.card.weather .symbol.rain {
	background-image: url('../images/weather_rain.svg');
}

.card.weather .symbol.lightsleet {
	background-image: url('../images/weather_lightsleet.svg');
}

.card.weather .symbol.sleet {
	background-image: url('../images/weather_sleet.svg');
}

.card.weather .symbol.lightsnow {
	background-image: url('../images/weather_lightsnow.svg');
}

.card.weather .symbol.snow {
	background-image: url('../images/weather_snow.svg');
}

.card.weather .symbol.showers {
	background-image: url('../images/weather_showers.svg');
}

.card.weather .symbol.sleetshowers {
	background-image: url('../images/weather_sleetshowers.svg');
}

.card.weather .symbol.snowshowers {
	background-image: url('../images/weather_snowshowers.svg');
}

.card.weather .symbol.dustdevil {
	background-image: url('../images/weather_dustdevil.svg');
}

.card.weather .symbol.duststorm {
	background-image: url('../images/weather_duststorm.svg');
}

.card.weather .symbol.blowingsnow {
	background-image: url('../images/weather_blowingsnow.svg');
}

.card.weather .symbol.fog {
	background-image: url('../images/weather_fog.svg');
}

.card.weather .symbol.lightdrizzle {
	background-image: url('../images/weather_lightdrizzle.svg');
}

.card.weather .symbol.drizzle {
	background-image: url('../images/weather_drizzle.svg');
}

.card.weather .symbol.freezingrain {
	background-image: url('../images/weather_freezingrain.svg');
}

.card.weather .symbol.hail {
	background-image: url('../images/weather_hail.svg');
}

.card.weather .symbol.lightthunder {
	background-image: url('../images/weather_lightthunder.svg');
}

.card.weather .symbol.thunder {
	background-image: url('../images/weather_thunder.svg');
}

.card.weather .row .temp {
	float: left;
	width: 100%;
	text-align: center;
	margin: 6px 0;
	font-size: 17px;
	font-weight: bold;
}

.card.weather .row .windspeed {
	float: left;
	width: 100%;
	text-align: center;
	margin: 6px 0;
}

.card.weather .row .windspeed .winddirection {
	display: inline-block;
	margin: 4px 0;
	width: 11px;
	height: 11px;
	margin: 0 2px 0 0;
	background-image: url('../images/weather_arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.card.weather .row .windspeed .winddirection.N {
	transform: rotate(0deg);
}

.card.weather .row .windspeed .winddirection.NNA {
	transform: rotate(22.5deg);
}

.card.weather .row .windspeed .winddirection.NA {
	transform: rotate(45deg);
}

.card.weather .row .windspeed .winddirection.ANA {
	transform: rotate(67.5deg);
}

.card.weather .row .windspeed .winddirection.A {
	transform: rotate(90deg);
}

.card.weather .row .windspeed .winddirection.ASA {
	transform: rotate(112.5deg);
}

.card.weather .row .windspeed .winddirection.SA {
	transform: rotate(135deg);
}

.card.weather .row .windspeed .winddirection.SSA {
	transform: rotate(157.5deg);
}	

.card.weather .row .windspeed .winddirection.S {
	transform: rotate(180deg);
}

.card.weather .row .windspeed .winddirection.SSV {
	transform: rotate(202.5deg);
}

.card.weather .row .windspeed .winddirection.SV {
	transform: rotate(225deg);
}

.card.weather .row .windspeed .winddirection.VSV {
	transform: rotate(247.5deg);
}

.card.weather .row .windspeed .winddirection.V {
	transform: rotate(270deg);
}

.card.weather .row .windspeed .winddirection.VNV {
	transform: rotate(292.5deg);
}

.card.weather .row .windspeed .winddirection.NV {
	transform: rotate(315deg);
}

.card.weather .row .windspeed .winddirection.NNV {
	transform: rotate(337.5deg);
}


/* Northern lights */

.card.northernLights {	
	background-image: url('../images/nordurljos.gif');
	background-size: cover;
	background-repeat: no-repeat;
}

.card.northernLights .row {
	float: left;
	width: 100%;
	height: 40px;
	padding: 5px 0;
	border-top: 1px solid rgba(0,0,0,0.1);
}

.card.northernLights .row.header {
	height: auto;
	padding: 0 0 8px 0;
	font-size: 13px !important;
	border-top: none;
}

.card.northernLights .row.header .column {
	float: left;
	padding: 0 0 0 0 !important;
	text-align: center;
}

.card.northernLights .row.header .activity {
	margin: 0 0 0 65px;
	width: 70px;
}

@media  screen and (max-width: 414px) {
	.card.northernLights .row.header .activity {	
		margin: 0 0 0 46px;
		width: 55px;
	}			
}

.card.northernLights .row.header .sunset, .card.northernLights .row.header .darkness {
	width: 70px;
	font-size: 13px !important;	
	padding: 0 0 0 0 !important;
}

@media  screen and (max-width: 414px) {
	.card.northernLights .row.header .sunset {	
		width: 50px;
	}			
}

.card.northernLights .row.header .darkness {
	width: 150px;
}

@media  screen and (max-width: 414px) {
	.card.northernLights .row.header .darkness {	
		width: 130px;
	}			
}

.card.northernLights .day {
	float: left;
	width: 40px;
	padding: 12px 10px 12px 15px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
}

@media  screen and (max-width: 414px) {
	.card.northernLights .day {	
		width: 30px;		
		padding: 12px 10px 12px 5px;
	}			
}

.card.northernLights .strength {
	float: left;
	padding: 3px 0 0 0;
	font-size: 33px;
	line-height: 33px;
	width: 70px;
	text-align: center;
}

@media  screen and (max-width: 414px) {
	.card.northernLights .strength {	
		width: 55px;
	}			
}

.card.northernLights .strength.s0 {
	color: #9e8089;
}

.card.northernLights .strength.s1 {
	color: #997383;
}

.card.northernLights .strength.s2 {
	color: #95667e;
}

.card.northernLights .strength.s3 {
	color: #905a7b;
}

.card.northernLights .strength.s4 {
	color: #8c4f7b;
}

.card.northernLights .strength.s5 {
	color: #88437c;
}

.card.northernLights .strength.s6 {
	color: #833a7e;
}

.card.northernLights .strength.s7 {
	color: #7c317f;
}

.card.northernLights .strength.s8 {
	color: #6e2779;
}

.card.northernLights .strength.s9 {
	color: #5f1f75;
}

.card.northernLights .sunset, .card.northernLights .darkness {
	float: left;
	font-size: 17px;
	padding: 10px 0 0 0;
	text-align: center;
}

.card.northernLights .sunset {
	width: 70px;
}

@media  screen and (max-width: 414px) {
	.card.northernLights .sunset {	
		width: 50px;
	}			
}

.card.northernLights .darkness {
	width: 150px;
}

@media  screen and (max-width: 414px) {
	.card.northernLights .darkness {	
		width: 130px;
	}			
}


/* Avalanche warning */

.card.avalanche .row {
	width: auto;
	padding: 10px;
}

.card.avalanche .row:first-of-type {		
	border: none;
}

.card.avalanche .row .region {
	font-weight: bold;
}

.card.avalanche .row .dangerlevel {
	float: left;
	margin: 6px 0;
	background: #efefef;
	clear: both;	
	font-size: 17px;
	font-weight: bold;
	padding: 3px 9px;
}

.card.avalanche .row .dangerlevel.l1 {
	background: #2EB800;
}

.card.avalanche .row .dangerlevel.l2 {
	background: #FFFF00;
}

.card.avalanche .row .dangerlevel.l3 {
	background: #F5B800;
}

.card.avalanche .row .dangerlevel.l4 {
	background: #e40000;
	color: #fff;
}

.card.avalanche .row .dangerlevel.l5 {
	background: #000;	
	color: #fff;
}

.card.avalanche .row .forecast {
	font-size: 17px;
	clear: both;
}


/* Conversions */

.conversion {
	float: left;
	padding: 0 0 10px 0;
	min-width: 190px;
}

.conversion .unit {
	padding: 10px 0;
	font-size: 17px;
	text-align: center;
}

.conversion .data {
	font-size: 23px;
	text-align: center;
}


/* TV guide */ 

.card.tvguide img.provider {
	height: 24px;
	margin: 10px 0 10px 0 !important;
}

.card a.moreinfo {
	float: left;
	font-size: 17px;
	margin: 5px 0;
}

.card a.moreinfo:hover {
	margin: 5px 0 3px 0;
}

.card a.watch {
	float: right;
	color: #fff;
	background-color: #00a3ff;
	border-radius: 2px;
	margin: 5px 0;
	padding: 8px 15px;
	height: 17px;
	transition: 0.25s;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.card a.watch:hover {
	border: none;
	background-color: #80d1ff;
}

.card a.watch span.premium {
	position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    top: -1px;
	margin: 0 0 0 4px;
	padding: 1px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 50%;
	font-size: 9px;
    letter-spacing: -1px;
    text-align: center;
	font-weight: bold;
	text-transform: none;
}

.card.tvguide {
	padding: 5px 10px;	
}

.card.tvguide table {
	float: left;
	width: 100%;	
	border-collapse: collapse;
	font-size: 15px;
}

.card.tvguide table tr {
	border-bottom: 1px solid #efefef;
}

@media (prefers-color-scheme: dark) {
	.card.tvguide table tr {
		border-bottom: 1px solid #666;
	}
}

.card.tvguide table tr:last-of-type  {
	border-bottom: none;
}

.card.tvguide table tr td {
	padding: 5px 0;
	vertical-align: top;
}

.card.tvguide table tr td.time {
	width: 60px;
	font-weight: bold;
}

.card.tvguide table tr td.noschedule {
	font-style: italic;
}

.card.tvguide table tr td span {
	color: #ccc;
	font-style: italic;
	padding: 0 10px;
}


/* Petrol prices */ 

.card.petrol {
	padding: 5px 10px;	
}

.card.petrol table {
	float: left;
	width: 100%;	
	border-collapse: collapse;
	font-size: 15px;
}

.card.petrol table tr {
	border-bottom: 1px solid #efefef;
}

.card.petrol table tr:last-of-type  {
	border-bottom: none;
}

.card.petrol table th {
	text-align: left;
	padding: 5px 0;
	font-size: 13px;
	font-weight: bold;
}

.card.petrol table tr td {
	padding: 5px 0;
}

.card.petrol table tr td.petrol,
.card.petrol table tr td.diesel {
	font-weight: bold;
	font-size: 27px;
	width: 90px;
}

.card.petrol table tr td.petrol {
	color: #41b600;
}

.card.petrol table tr td span {
	font-size: 13px;
}

/* Petrol prices */ 

.card.petrol {
	padding: 5px 10px;	
}

.card.petrol table {
	float: left;
	width: 100%;	
	border-collapse: collapse;
	font-size: 15px;
}

.card.petrol table tr {
	border-bottom: 1px solid #efefef;
}

.card.petrol table tr:last-of-type  {
	border-bottom: none;
}

.card.petrol table th {
	text-align: left;
	padding: 5px 0;
	font-size: 13px;
	font-weight: bold;
}

.card.petrol table tr td {
	padding: 5px 0;
}

.card.petrol table tr td.petrol,
.card.petrol table tr td.diesel {
	font-weight: bold;
	font-size: 27px;
	width: 90px;
}

.card.petrol table tr td.petrol {
	color: #41b600;
}

.card.petrol table tr td span {
	font-size: 13px;
}


/* News */ 

.card.news {
	padding: 5px 10px;	
}

.card img.provider {
	height: 24px;
	margin: 10px 0 0 0;
}

.card.news .row {
	float: left;
	width: 100%;	
	padding: 10px 0;
	border-top: none;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	font-size: 15px;
}

.card.news .row:last-of-type {
	border-bottom: none;
}

.card.news .row p {
	margin: 0;
}

.card.news .row .provider {
	float: left;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	padding: 2px 0px 4px 0;
}

.card.news .row .provider img {
	float: left;
	height: 16px;
	margin: 0 10px 0 0;
}

.card.news .row .headline {
	padding: 2px 0;
	font-weight: bold;
}

.card.news .row .description {
	font-size: 13px;
	padding: 2px 0;
}

.card.news .row .date {
	float: left;
	font-size: 13px;
	padding: 2px 0;
	font-weight: normal;
	color: #ccc;
}


/* Clock */

.card.clock {
	
}

.clockface {
	position: relative;
	overflow: hidden;
	float: left;
	width: 100px;
	height: 100px;
	margin: 20px 30px;
	border-radius: 50%;
	background: #e5e3e0;
}

.clockface .notches {
	position: absolute;
	top: 0; left: 49px;
	height: 80px;
	width: 2px;
	border-top: 10px solid #000;
	border-bottom: 10px solid #000;
	opacity: 0.1;
}

.clockface .notches.one {
	transform: rotate(30deg);
}

.clockface .notches.two {
	transform: rotate(60deg);
}

.clockface .notches.three {
	transform: rotate(90deg);
}

.clockface .notches.four {
	transform: rotate(120deg);
}

.clockface .notches.five {
	transform: rotate(150deg);
}

.clockface .hand {
	position: absolute;
	left: 49px;
}

.clockface .hand.hour {
	top: 15px;
	width: 2px;
	height: 44px;
	background: #333;
	border-radius: 2px;
    transform-origin: 0 45px;
    animation-name: seconds;
    animation-duration: 216000s;
    animation-timing-function: linear;
}

.clockface .hand.minute {
	top: 5px;
	width: 2px;
	height: 54px;
	background: #333;
	border-radius: 2px;
    transform-origin: 0 45px;
    animation-name: seconds;
    animation-duration: 3600s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.clockface .hand.second {
	top: 5px;
	width: 1px;
	height: 54px;
	background: #cf0000;
	border-radius: 2px;
    transform-origin: 0 45px;
    animation-name: seconds;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes seconds {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card.clock .time {
	float: left;
	width: 50%;
	font-size: 28px;
	margin: 38px 0 0 0;
}

.card.clock .place {
	float: left;
	width: 50%;
	font-size: 15px;
	margin: 5px 0 0 0;
}



/* Providers */

.providerText {
	float: right;
	font-size: 11px;
	color: #ccc;
}

.providerText a {
	color: #ccc;
}

.providerText a:hover {	
	text-decoration: underline;
	border: none;
}

.providerLogo {
	float: right;
	height: 40px;
	background-size: cover;
	margin: 8px 0 0 0;
}

.providerLogo:hover {
	border: none;
}

.providerLogo.vedurstofa {
	width: 63px;
	background-image: url('../images/provider_vedurstofa.png');
}

.providerLogo.vegagerdin {
	width: 48px;
	background-image: url('../images/provider_vegagerdin.svg');
}

.providerLogo.straeto {
	width: 39px;
	background-image: url('../images/provider_straeto.png');
}


/* Clock facilities */

#timer {
	position: fixed;
	display: none;
	float: left;
	border-radius: 5px;
	box-shadow: 0 0 1px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.1);
	font-size: 36px;
	padding: 8px 15px;
	top: 20px; left: 20px;
	width: 152px;
	background: #fff;
	z-index: 20000;
	transition: 0.5s;
	transition-timing-function: ease-out;
}

#timer.sidebaron {
	left: 320px;
}


/* Cards */

.map {
	float: left;
	overflow: hidden;
	width: 380px;
	height: 300px;
	margin: 10px 0 5px 0;
	background: #f0eee7;
	box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

@media  screen and (max-width: 414px) {
	.map {	
		width: 305px;
		height: 280px;
	}			
}


/* Speech */

#speech {
	float: right;
	height: 17px;
	margin: 14px 14px;
	padding: 7px 45px 7px 7px;
	cursor: pointer;
	text-align: right;
	background-position: right;
	background-repeat: no-repeat;
	font-size: 90%;
	z-index: 100;
}

@media (prefers-color-scheme: dark) {
	#speech {
		background-color: #333;
		color: #fff;
	}
}

#speech.disabled {
	cursor: default;
	background-image: url('../images/speech_off.svg');
}

#speech.off {
	background-image: url('../images/speech_off.svg');
}

#speech.on {
	background-image: url('../images/speech_on.svg');
}

@keyframes fadeout {
    0%   {opacity: 1; display: block;}
    100% {opacity: 0; display: none;}
}

#speech span.fadeout {
	animation-name: fadeout;
	animation-duration: 1.5s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

#notification {
	display: none;
	position: fixed;
	right: 60px;
	top: 20px;
	padding: 15px 20px;
	width: 250px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 1px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.1);
	z-index: 1000;
}

@media (prefers-color-scheme: dark) {
	#notification {
		color: #fff;
		background: #333;
		box-shadow: 0 0 1px rgba(0,0,0,0.2), 0 2px 5px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.2);
	}
}

#notification.visible {
	display: block;
}


/* Onboarding */

#onboarding, 
#cookieWarning {
	display: none;
	position: fixed;
	background: #fff;
	top: 0; bottom: 0; left: 0; right: 0;
	z-index: 10000;
	text-align: center;
	padding: 5% 0;
}

@media  screen and (max-width: 414px) {
	#onboarding, 
	#cookieWarning {	
		overflow: hidden;
		bottom: auto;
		position: absolute;
	}			
}

@media (prefers-color-scheme: dark) {
	#onboarding, 
	#cookieWarning {
		color: #fff;
		background: #333;
	}
}

#onboarding h1,
#cookieWarning h1 {
	font-size: 300%;
	color: #00a3ff;
}

@media  screen and (max-width: 414px) {
	#onboarding h1,
	#cookieWarning h1 {
		font-size: 200%;
	}			
}

#onboarding p.blurb,
#cookieWarning p.blurb {
	font-size: 140%;
	line-height: 160%;
	width: 40%;
	max-width: 575px;
	margin: 10px auto;
}

@media  screen and (max-width: 414px) {
	#onboarding p.blurb,
	#cookieWarning p.blurb {
		width: 70%;
		font-size: 120%;
		line-height: 140%;
	}			
}

#onboarding table {
	color: #00a3ff;
	font-size: 120%;
	border-collapse: collapse;
	margin: 40px auto;
}

#onboarding table td {
	padding: 10px 20px;
	text-align: center;
}

@media  screen and (max-width: 414px) {
	#onboarding table td {
		width: 100%;
	}			
}

#onboarding .begin {
	cursor: pointer;
	outline: none;
	background-color: #00a3ff;
	width: 200px;
	padding: 15px 25px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	border: none;
	transition: 0.25s;
}

#onboarding .begin:hover {
	background: #80d1ff;
}

#onboarding p.cookiewarning {
	margin: 30px auto;
	width: 35%;
	max-width: 500px;
	color: #999;
}


/* Help */

#helpcommands .close {
	position: absolute;
	background: #fff;
	top: 0;	
	width: 280px;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	pointer-events: none;
}

@media (prefers-color-scheme: dark) {
	#helpcommands .close {
		background: #333;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	}
}

#helpcommands .close:hover {
	border: none;
}

#helpcommands {
	position: fixed;
	overflow: scroll;
	background: #ffffff;
	top: 0; bottom: 0;
	left: -340px;
	padding: 48px 0 0 0;
	width: 300px;
	box-shadow: 0 0 1px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.1);
	transition: 0.5s;
	transition-timing-function: ease-out;
	z-index: 10000;
}

@media (prefers-color-scheme: dark) {
	#helpcommands {
		background: #333;
	}
}

#helpcommands.visible {
	left: 0;
}

#helpcommands.visible .close {		
	pointer-events: all;
}

#helpcommands h1 {
	color: #333;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 10px 20px 10px 20px;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	font-weight: normal;
}

@media (prefers-color-scheme: dark) {
	#helpcommands h1 {
		color: #fff;
		border-top: 1px solid #666;
		border-bottom: 1px solid #666;
	}
}

#helpcommands h1.sticky {
	position: fixed;
	top: 40;
}

#helpcommands ul {
	display: block;
	width: 100%;
	list-style: none;
	padding: 0 20px;
	box-sizing: border-box;
}

#helpcommands li {
	width: 100%;
	padding: 5px 0;
}

#helpcommands li a {
	cursor: pointer;
	display: block;
	width: 100%;
	transition: 0.25s;
}

#helpcommands li a:hover {
	color: #80d1ff;
	border: none;
}